<p>ご連絡 <%= @resource.email %>!</p>

<p>パスワードの再発行依頼がなされました。パスワードの再発行をするため、下記リンク先にアクセスしてください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールの内容に覚えがない場合は、このメールを破棄してください。</p>
<p>リンク先にアクセスして新しいパスワードを登録しない限り、パスワードは変更されません。</p>
