<p>ご連絡 <%= @resource.email %>!</p>

<p>不正確なパスワードの入力が一定回数されたため、アカウントを一時的にロックさせていただきました。</p>

<p>アカウントのロックを解除するためには下記のリンク先にアクセスしてください:</p>

<p><%= link_to 'アカウントのロックを解除する', unlock_url(@resource, unlock_token: @token) %></p>
